- error = @account.errors.include?(:name)
%fieldset.control-group{class: error ? 'has-error' : ''}
  = f.label :name, class: 'control-label'
  .controls
    = f.text_field :name, class: 'form-control input-large input-with-feedback', autofocus: true
    - if error
      %span.help-inline= f.errr_message_on(:name, class: 'text-error')

- error = @account.errors.include?(:username)
%fieldset.control-group{class: error ? 'has-error' : ''}
  = f.label :username, class: 'control-label'
  .controls
    = f.text_field :username, class: 'form-control input-large input-with-feedback'
    - if error
      %span.help-inline= f.error_message_on(:username, class: 'text-error')

- error = @account.errors.include?(:email)
%fieldset.control-group{class: error ? 'has-error' : ''}
  = f.label :email, class: 'control-label'
  .controls
    = f.text_field :email, class: 'form-control input-large input-with-feedback'
    - if error
      %span.help-inline= f.error_message_on(:email, class: 'text-error')

- error = @account.errors.include?(:password)
%fieldset.control-group{class: error ? 'has-error' : ''}
  = f.label :password, class: 'control-label'
  .controls
    = f.password_field :password, class: 'form-control input-large input-with-feedback'
    - if error
      %span.help-inline= f.error_message_on(:password, class: 'text-error')

- error = @account.errors.include?(:password_confirmation)
%fieldset.control-group{class: error ? 'has-error' : ''}
  = f.label :password_confirmation, class: 'control-label'
  .controls
    = f.password_field :password_confirmation, class: 'form-control input-large input-with-feedback'
    - if error
      %span.help-inline= f.error_message_on(:password_confirmation, class: 'text-error')

- error = @account.errors.include?(:role)
%fieldset.control-group{class: error ? 'has-error' : ''}
  = f.label :role, class: 'control-label'
  .controls
    = f.select :role, options: Account::ROLES, class: 'form-control input-large input-with-feedback'
    - if error
      %span.help-inline= f.error_message_on(:role, class: 'text-error')

.form-actions
  = f.submit pat(:save), class: 'btn btn-primary'
  &nbsp;
  = link_to pat(:cancel), url(:accounts, :index), class: 'btn btn-default'