= form_for @user, url_for(:login) do |f|
  %div
    = f.error_messages

  %div
    = f.label :email
    = f.email_field :email

  %div
    = f.label :password
    = f.password_field :password

  %div
    = f.submit "Login"