<% form_for @user, url_for(:register) do |f| %>
  <%= f.error_messages %>

  <%= f.label :username %>
  <%= f.text_field :username %>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>

  <p>
    <%= f.check_box :terms_accepted %>
    I accept the <a href="<%= url_for :terms %>">terms of service</a>
  </p>

  <%= f.submit 'Register' %>
<% end %>